<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Candidate.statuses.keys.to_a) %>
  </div>

  <div class="field">
    <%= form.label :vacancies %><br />
    <%= form.select :vacancy_ids, options_for_select(Vacancy.active.collect {|x| [x.name, x.id]}, candidate.vacancy_ids), {}, :multiple => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
